<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found (<%= route %>)</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Oops! Your page got lost in our servers. (404)</h1>
    <hr>
    <h2>Your route, <%= route %> was invalid and couldn't be found on our servers.</h2>
    <p>Alternatively, you can try searching again. But for now, this route, <%= route %> does not exist.</p>
</body>
</html>