<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Balls</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Introducing balls</h1>
    <hr>
    <p>Balls are round objects that can bounce! If the ball is bouncy, it can bounce, otherwise no.</p>
    <p>Gravity is a great thing! Nice!</p>
    <footer>
        <p>&copy; balls ssl 2024</p>
    </footer>
</body>
</html>