<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Express</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Hello world, Express.js!</h1>
    <hr>
    <p>Hello world, from an Express.js server!</p>
    <p>There are a handful of routes here, that you can find!</p>
    <p>You can find some of them here: <a href="https://github.com/kkronggiscool/wds" target="_blank">GitHub</a></p>
    <footer>
        <p>&copy; 2024 Express.js Is The Best ARS.</p>
    </footer>
</body>
</html>